.btn-contact {
  color: white !important;
  background-color: rgb(0, 85, 255) !important;
  font-weight: 400;
}

.btn-match {
  margin: 0 !important;
  font-size: 14px;
  width: 110px !important;
  border: none;
  background-color: white;
  color: rgb(0, 85, 255);
  font-weight: 600;
}

.v-line {
  border-left: 4px solid #ddd;
  height: 40px;
}

#match-card h3 {
  color: rgb(0, 85, 255);
  font-size: 22px;
}

#match-card h4 {
  color: #777;
  font-size: 16px;
  margin-bottom: 0.3rem;
}

#match-card img {
  height: 100%;
  width: 100%;
  /* border: 4px solid seagreen; */
}

#match-card {
  /* border: 3px solid pink; */
  width: 420px;
  margin-bottom: 30px;
  border-radius: 6px;
}

.match-card-pfp {
  width: 140px;
  height: 140px;
}

.match-card-bottom {
  height: 60px;
  /* border: 3px solid red; */
}

.match-card-top-margin {
  margin: 10px 0 10px 10px;
}
