#home-alert-note {
  color: #555 !important;
  font-weight: 600;
}

#home-btn-container {
  margin: 0 !important;
}

.home-btn-std {
  margin: 0 0 0 20px !important;
  width: 100px;
  height: 50px;
}

#home-btn-like {
  color: rgb(0, 85, 255) !important;
  background-color: white;
  border: 3px solid rgb(0, 85, 255);
}

#home-btn-pass {
  color: white !important;
  background-color: rgb(0, 85, 255);
  border: none;
}

#home-bg {
  height: 85vh;
  background-image: linear-gradient(
      to right,
      #8eabc7,
      rgba(245, 246, 252, 0.12)
    ),
    url("../../assets/familyValues/generic-straight-family.jpg");
  background-size: 100% 100%;
}

#home-container {
  width: 85%;
  height: 90%;
}

#home-match-card {
  padding-top: 15px;
  width: 90%;
  height: 75%;
  background-color: white;
}

#home-about-footer {
  background-color: rgb(0, 85, 255);
  height: 240px;
}

#home-foot-left {
  padding-left: 60px;
}

#home-foot-right {
  padding-right: 60px;
}

#home-footer-title {
  color: white;
  font-size: 26px;
  margin-bottom: 18px;
}

.home-foot-box {
  width: 38%;
  height: 100%;
}

#home-match-card-imgs {
  height: 290px;
}

.ninety-pct-width {
  width: 90%;
}

#home-match-card-imgs div {
  width: 30%;
  height: 280px;
}

#home-match-card-imgs img {
  background-size: 100% 100%;
  height: 280px;
  width: 100%;
}

.home-right-footer {
  height: 40%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.home-right-footer * {
  margin: 0 5px;
}

.home-footer-txt {
  font-size: 16px;
  color: #bbbb;
}

.home-right-footer img {
  height: 20px;
  width: 20px;
}

#home-top-text {
  height: 60px;
}

#home-top-text h3 {
  margin: 0 10px 0 0;
  font-size: 18px;
  color: #888;
}

@media only screen and (max-width: 900px) {
  #home-top-text h3 {
    font-size: 14px;
    width: fit-content !important;
    margin: 0 16px 0 0;
  }

  .home-btn-std {
    width: 70px;
    height: 40px;
  }
}

@media only screen and (max-width: 630px) {
  #home-btn-container {
    justify-content: space-between;
    margin: 20px !important;
  }

  .home-btn-std {
    margin: 0 !important;
  }

  #home-footer-title {
    font-size: 22px;
  }

  .home-footer-txt {
    font-size: 10px;
  }

  #home-match-card {
    height: 100%;
    justify-content: space-evenly !important;
  }

  #home-match-card-imgs {
    height: 190px;
    margin: 30px 0;
  }

  #home-match-card-imgs div {
    height: 180px;
  }

  #home-match-card-imgs img {
    height: 180px;
  }

  #home-top-text {
    flex-direction: column;
  }

  #home-top-text h3 {
    font-size: 14px;
    width: fit-content !important;
    margin: 0;
  }

  #home-sml-width-hack {
    width: 100% !important;
    justify-content: space-between !important;
  }

  #home-sml-width-hack * {
    text-align: center;
    min-width: 46px;
  }
}
