.btn-general {
  margin-right: 16px;
  border-radius: 3px;
  width: 80px;
  height: 40px;
}

.generic-grey-bg {
  background-color: #eee;
  position: relative;
}

.profile-avatar {
  height: 200px;
  width: 200px;
  border-radius: 100px !important;
}

#profile-avatar-contained {
  border: solid white 4px;
  vertical-align: top; /* or display:block; + margin:auto;*/
}

#profile-avatar-imaged {
  padding: 60px;

  /* z-index: 3; */
  /* text-align: center; */
  /* background: url(my-blue-light-blue-bg.jpg) repeat-x center; */
}

#profile-header-bg {
  height: 180px;
  background-image: linear-gradient(
      to right,
      rgb(30, 77, 104),
      rgba(245, 246, 252, 0.12)
    ),
    url("../assets/realFamPhotos/wholesome-gay-couple.png");
  /* todo: find better bg img */
  background-size: 100% 100%;
}

#profile-matches-screen {
  padding: 80px 0;
}

#profile-matches-screen > div {
  margin: 20px;
}

.white-text {
  color: white;
}
