/* major ids for outer divs  */
/* major ids for outer divs  */

#signup-section {
  height: 100vh;
}

#signup-bg {
  height: 100%;
  background-image: linear-gradient(
      to right,
      rgba(245, 246, 252, 0.12),
      rgba(22, 58, 179, 0.83)
    ),
    url("../../assets/realFamPhotos/forest-trail-adventure.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  /* // todo: add opacity */
  opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
}

#signup-info-card {
  height: 500px;
  width: 720px;
  /* // todo: make half transparent */
  opacity: 0.915;
  border-radius: 14px;
  background-color: #dde;
}

/* // end of major ids for outer divs  */
/* // end of major ids for outer divs  */

.age-range-input {
  width: 43%;
}

.age-range-spacer {
  width: 14%;
}

.age-range-spacer p {
  font-size: 20px;
}

.bday-menu-h {
  margin: 4px 0;
}

#birthday-top-cont {
  /* border: 2px solid greenyellow; */
}

.center-text {
  display: flex;
  align-items: center;
}

#change-page-btn {
  background-color: rgb(255, 230, 0);
  border-radius: 8px;
  -webkit-box-shadow: 0 9px 12px -6px black;
  -moz-box-shadow: 0 9px 12px -6px black;
  box-shadow: 0 9px 12px -6px black;
}

.family-value-btn {
  padding-left: 24px;
  width: 30%;
  border: 1px solid black;
  border-radius: 6px;
  background-color: rgb(167, 174, 187);
  display: flex;
  justify-content: left;
  align-items: center;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
}

.family-value-btn input {
  position: fixed;
  opacity: 0;
  pointer-events: none;
}

#menu-container {
  /* todo: what to put here? */
  width: 100%;
}

.menu-encouragement {
  margin-top: 8px;
  margin-left: 2px;
}

.menu-height-adjust {
  margin: 14px 0;
}

.menu-styling {
  border: 1px solid black;
  border-radius: 6px;
  background-color: rgb(167, 174, 187);
  color: white !important;
  font-size: 20px;
  padding-left: 36px;
}

#next-btn-cont {
  width: 100%;
  height: 80px;
}

#question-box-cont {
  /* border: 2px solid goldenrod; */

  height: 40px;
}

#question-box-cont h3 {
  align-items: center;
  border-radius: 8px;
  background-color: rgb(122, 152, 223);
  color: white;
  font-size: 20px;
  font-weight: 400;
  padding-left: 36px;
}

#sic-back-btn {
  width: 24px;
  height: 24px;
  border: 2px solid blue;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sic-back-btn img {
  height: 12px;
  width: 12px;
  /* color: blue; */
}

#sic-back-btn-cont {
  position: absolute;
}

#signup-card-btn {
  width: 40%;
  height: 60px;
  border-radius: 8px;
  border: none;
  -webkit-box-shadow: 0 9px 12px -6px black;
  -moz-box-shadow: 0 9px 12px -6px black;
  box-shadow: 0 9px 12px -6px black;
  opacity: 1 !important;
  font-size: 22px;
  font-weight: 600;
}

#signup-card-finished-btn {
}

#signup-info-card-cont {
  width: 80%;
  height: 80%;
  /* border: 3px solid red; */
}

.signup-input-height {
  height: 54px !important;
}

#signup-main-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-menu-width {
  width: 100%;
}

.signup-std-width {
  width: 100%;
}

#signup-title-cont {
  height: 60px;
  width: 100%;
}

#signup-title-cont h2 {
  text-align: center;
  font-size: 32px;
  color: white;
}

.small-mod-finished {
  margin-top: 60px !important;
}

#visibility-warn-container {
  /* ? */
  margin-bottom: 14px;
  display: flex;
  justify-content: left;

  width: 100%;
}

#visibility-warn-container img {
  margin: 0 5px;
  height: 22px;
  width: 22px;
}

#visibility-warn-container p {
  margin: 0 5px;
  color: #666;
  font-size: 14px;
  font-weight: bold;
}

.white-text {
  color: white !important;
}

.width-50 {
  width: 49%;
}

@media screen and (max-width: 701px) {
  .gender-decider-input {
    width: 47% !important;
    font-size: 16px;
    padding-left: 18px;
    text-align: left;
  }

  #menu-container p {
    margin: 4px 0;
  }

  .menu-height-adjust {
    margin: 10px 0 0 0;
  }
  .menu-styling {
    padding-left: 20px;
  }
  #next-btn-cont {
    padding: 0;
    margin: 0;
  }

  p {
    margin-bottom: 0.6rem;
  }

  #question-box-cont {
    height: 50px !important;
  }

  #question-box-cont h3 {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
  }

  .signup-sml-height-adjust {
    height: 46px !important;
  }

  #signup-sml-screen-adjust {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .signup-sml-screen-adjust {
    width: 300px !important;
    height: 400px !important;
  }

  #signup-title-cont h2 {
    font-size: 26px;
  }

  #signup-title-cont {
    height: 30px;
    width: 100%;
  }

  #visibility-warn-container {
    margin-bottom: 8px;
  }
}
