input {
  margin: 0 10px;
  /* border: 3px solid red; */
}

#a500px-screen-adjust {
  height: 70vh;
}

#ad-box-left {
  background-image: url("./assets/icons/left.png");
  background-size: 100% 100%;
  /* height:  */
}

#ad-box-middle {
  background-image: url("./assets/icons/right.png");
  background-size: 100% 100%;
}

#ad-box-right {
  background-image: url("./assets/icons/middle.png");
  background-size: 100% 100%;
}

.ad-box {
  margin: 0 1px;
  height: 260px;
  /* background-color: rgb(142, 155, 122); */
  /* border: 3px solid black; */
  /* width: 32%; */
  /* width: 33%; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ad-box-container {
  height: 220px;
  border: 5px solid red;
}

.ad-box-text {
  font-size: 28px;
}

.ad-box-subtitle {
  font-size: 16px;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  height: 80px;
  background-color: rgb(0, 85, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

#App-header-button {
  height: 40px;
  width: 100px;
  border-radius: 5px;
  border: none;
  color: black;
  font-weight: bold;
}

.b-debug {
  border: 3px solid black !important;
}

.b-debug2 {
  border: 5px solid red !important;
}

.big-container-00 {
  height: 80vh;
}

.big-text {
  font-size: 42px;
  font-weight: 600;
}

.brand-teal {
  background-color: rgb(9, 138, 148);
}

.brand-soft-blue {
  background-color: rgb(97, 125, 198);
}

.brand-soft-blue-text {
  color: rgb(97, 125, 198);
}

.brand-dark-blue {
  background-color: rgb(26, 95, 120);
}

.brand-dark-blue-text {
  color: rgb(26, 95, 120);
}

.brand-yellow-bg {
  background-color: rgb(255, 230, 0);
}

.designer-blue-text {
  color: rgb(0, 85, 255);
}

.brand-yellow-text {
  color: rgb(255, 230, 0);
}

.brand-grey {
  background-color: rgb(228, 228, 228);
}

.checkmark {
  height: 25px;
  width: 25px;
  margin: 0 5px 0 0;
  background-color: #dde;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.child-select-div:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.child-select-div input:checked ~ .checkmark {
  background-color: #2196f3;
}

.child-select-div {
  /* border: 5px solid yellow; */
  height: 50px;
  width: 120px;
  margin: 10px 0px;
  padding-left: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: white;
  border-radius: 6px;
  -webkit-box-shadow: 0 9px 12px -6px black;
  -moz-box-shadow: 0 9px 12px -6px black;
  box-shadow: 0 9px 12px -6px black;
}

.child-select-div input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.content-text {
  font-size: 18px;
  font-weight: 400;
}

#compatibility-promo {
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#compatibility-left {
  width: 40%;
  /* border: 3px solid blue; */
  text-align: left;
}

#compatibility-right {
  /* margin: 10px 0; */
  width: 40%;
  /* border: 1px solid black; */
  height: 90%;
  background-image: url("./assets/compatibility-cutout.png");
  background-size: 100% 100%;
}

#comp-med-alt {
  display: none;
  margin: 0;
}

.f-box {
  width: 15%;
  /* border: 2px solid green; */
}

.f-box h3 {
  margin-bottom: 8px;
}

#f-hr {
  border: 1px solid #bbb;
  width: 100%;
}

#f-newsletter {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#f-newsletter input {
  padding-left: 8px;
}

.f-spacer {
  height: 30px;
}

.f-internal-width {
  width: 90%;
}

#f-top {
  height: 60%;
}

#f-top h3 {
  margin: 5px 0 8px 0;
  font-size: 16px;
  letter-spacing: 2px;
  color: rgb(0, 85, 255);
}

#f-top p {
  margin: 3px;
  font-size: 12px;
  color: white;
}

.f-wholesome {
  background-image: url("./assets/realFamPhotos/2fh-placeholder-footer.png");
  background-size: 100% 100%;
}

#family-size-input {
  height: 60px;
  width: 200px;
  border-radius: 16px;
}

.option-centering {
  text-align: center;
}

.fat-text {
  font-size: 44px;
  font-weight: 600;
}

.f-grey-text {
  color: #666;
  margin: 0;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.generic-div-centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

header * {
  color: white;
}

#header-buttons {
  width: 45% !important;
  padding-right: 60px;
}

#header-buttons-sml {
  display: none;
}

#header-copy-sml {
  display: none;
}

.header-container {
  /* border: 5px solid green; */
  padding: 0 30px 0 30px;
  height: fit-content;
  /* border: 6px solid black; */
  width: fit-content;
  /* background-color: crimson; */
  display: flex;
  flex-direction: row;
}

.header-main-spacing {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-options {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.header-options div {
  width: fit-content;
  margin: 0 10px;
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-options div h3 {
  margin: 0;
  font-size: 18px;
  text-transform: uppercase;
}

#header-options-spacer {
  width: 40px;
}

#hr-special {
  width: 100%;
  border: 1px solid white;
}

.img-placeholder {
  height: 80px;
  width: 80px;
  /* border: 3px solid salmon; */
}

.modal-hidden {
  display: none;
}

.modal-special {
  height: 100vh;
  width: 100%;
  position: absolute;
  left: 0%;
  top: 0%;
  z-index: 5 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

#modal-special-container {
  width: 500px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1 initial !important;
  z-index: 10 !important;
  background-color: white;
}

#modal-special-container p {
  margin: 10px;
}

#newsletter-div {
  /* display: flex;
  flex-direction: column;
  justify-content: left; */
  text-align: left;
}

#newsletter-div input {
  height: 50px;
  width: 200px;
  border-radius: 5px;
  border: none;
}

#petit-text-sml {
  display: none;
}

#popup-content {
  background-color: white;
  position: absolute;
}

#popup-div {
  display: none;
  position: fixed;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.25);
}

#pr1 {
  background-image: url("./assets/icons/1.png");
  background-size: 100% 100%;
}
#pr2 {
  background-image: url("./assets/icons/2.png");
  background-size: 100% 100%;
  width: 100px;
}
#pr3 {
  background-image: url("./assets/icons/3.png");
  background-size: 100% 100%;
}
#pr4 {
  background-image: url("./assets/icons/4.png");
  background-size: 100% 100%;
  width: 140px;
}

.pretend-img {
  height: 80px;
  width: 80px;
  margin-bottom: 40px;
  /* border: 5px solid yellow; */
}

.promo-box {
  width: 17%;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 3px solid red; */
}

.promo-box h3 {
  font-size: 18px;
  text-transform: uppercase;
}

.promo-box p {
  font-weight: 300;
}

#promo-boxes-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* border: 3px solid green; */
  height: 100%;
  background-color: rgb(228, 228, 228);
}

.qss-mods {
  height: 100%;
}

#quality-singles-left-img {
  width: 500px;
  background-image: url("./assets/quality-singles-cutouut.png");
  background-size: 100% 100%;
}

#quality-singles-right {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: left;
}

#quality-singles-right * {
  /* border: 3px solid red; */
  text-align: left;
}

#real-deal-left {
  width: 55%;
}

#real-deal-left-img {
  margin-right: 35px;
  width: 80%;
  background-image: url("./assets//diamond-tiles.png");
  background-size: 100% 100%;
}

#real-deal-right {
  width: 45%;
  text-align: left;
}

.screen-splitter {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 3px solid green; */
}

.selected-div {
  background-color: aquamarine;
}

.sign-up-screen {
  width: 100%;
  background-image: linear-gradient(
      to right,
      rgba(245, 246, 252, 0.12),
      rgba(22, 58, 179, 0.83)
    ),
    url("./assets/realFamPhotos/sunny-lake-adventure2-flipped.jpg");
  background-size: 100% 100%;
  height: 80vh;
  display: flex;
  flex-direction: row;
}

.space-between {
  justify-content: space-between;
}

#socials-div {
  height: 70px;
  display: flex;
  justify-content: left;
}

#socials-div button {
  height: 50px;
  width: 50px;
  margin-right: 7px;
  border-radius: 25px;
  background-color: blue;
  border: none;
}

#socials-div button img {
  height: 36px;
  width: 36px;
}

#start-today-now {
  /* border: 3px solid green; */
  height: 80%;
  width: 70%;
}

#start-today-now-button {
  border-radius: 10px;
  height: 70px;
  width: 100%;
  color: black;
  font-size: 26px;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-box-shadow: 0 9px 12px -6px black;
  -moz-box-shadow: 0 9px 12px -6px black;
  box-shadow: 0 9px 12px -6px black;
}

#start-today-now-gradient {
  background-color: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  /* background-color: blue; */
  z-index: 2;
}

#start-today-now-text {
  color: white;
  font-size: 66px;
  margin: 0;
}

#terms {
  width: 300px !important;
}

.text-align-left {
  text-align: left;
}

.typical-blue-button {
  width: 200px;
  height: 40px;
  color: white;
  background-color: rgb(0, 85, 255);
  border-radius: 5px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center !important;
  box-shadow: 5px 3px 15px blue;
}

.typical-btn-sml-txt {
  font-size: 13px !important;
}

#welcome-div-container {
  height: fit-content;
  width: 60%;
}

#welcome-div-headline {
  font-size: 44px;
  font-weight: 600;
  margin-bottom: 20px;
}

#welcome-div-content {
  font-size: 18px;
  font-weight: 400;
}

#whfy-width-control {
  width: 45%;
  text-align: center;
}

#we-here-for-you {
  height: 80%;
  width: 80%;
  text-align: center;
  z-index: 5;
  /* opacity: 1 !important; */
}

#we-here-for-you * {
  z-index: 5;
  /* opacity: 1 !important; */
}

.white-text {
  color: white;
}

.white-text-off {
  color: #ccc;
}

#terms div {
  width: 200px !important;
  margin: 0 10px;
}

.wholesome-background {
  z-index: 1;
  background-size: 100% 100%;
  /* opacity: 50%; */
  background-image: url("./assets/realFamPhotos/wholesome-gay-couple.png");
  /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), */
  /* url("./assets//wholesome-gay-couple.png"); */
}

.wholesome-overlay {
  background-color: rgba(0, 0, 0, 0.75);
  /* opacity: 0.5; */
  z-index: 2;
}

.wholesome-overlay-dark {
  background-color: rgba(0, 0, 0, 0.9);
  /* opacity: 0.5; */
  z-index: 2;
}

@media only screen and (min-width: 1280px) {
  .child-select-div {
    width: 140px;
    padding-left: 15px;
  }
}

@media only screen and (max-width: 1250px) and (min-width: 1120px) {
  /* what to do here... */
  /* looks like nothing, everything is fine. */
}

@media only screen and (max-width: 1119px) {
  /* // note: wrote these for 1119 to 900px, if something goes wrong sub-900, check here */
  /* // header is like ... pushing past rhs of screen... must stop */
  #header-buttons {
    padding-right: 100px;
  }

  #header-options-spacer {
    display: none;
  }

  /* // shrink Start Today Now text to 2 lines via font size */
  #start-today-now-text {
    font-size: 48px;
  }

  /* // child select divs: just make the text "kid(s)" instead of "children" and shrink width */
  .child-select-div {
    width: 95px;
  }

  /* // highest quality dating pool text needs to have padding */
  .ad-box-text {
    height: 80px;
  }

  .media-query-text-hotfix {
    padding: 0 10px;
  }

  /* // compatibility counts: compress the picture so it fits. */
  #compatibility-left {
    padding-right: 20px;
  }

  #compatibility-right {
    padding-left: 10px;
    background-size: 100% 60%;
    background-repeat: no-repeat;
    background-position-y: 50%;
  }

  /* // quality singles section picture needs padding left */
  #quality-singles-left-img {
    padding-left: 20px;
    background-size: 100% 80%;
    background-repeat: no-repeat;
    background-position-y: 50%;
  }

  #q-s-l-i-container {
    padding-left: 30px;
  }

  /* // web logo text is spilling. solution: widen the div, shorten the text. */
  #petit-text {
    width: 110px;
  }
}

@media only screen and (max-width: 900px) {
  /* // to 700px */
  /* header is broken again, take out everything except the logo and login btn */
  #header-buttons {
    display: none;
  }

  #header-buttons-sml {
    display: block;
    padding-right: 30px;
  }

  /* // start today now: shrink me! */
  #start-today-now-text {
    font-size: 34px;
  }

  /* // ideal family size: shrink me! number of kids selector: rm checkbox, shade it when selected. */
  .checkmark {
    width: 20px;
    height: 20px;
  }

  .child-select-div {
    width: 80px;
    padding-left: 8px;
  }

  #ideal-fam-size {
    font-size: 20px;
  }

  #start-today-now {
    width: 80%;
  }

  #start-today-now label {
    font-size: 14px;
  }

  /* // ad boxes need adjustment. shrink text to 2 lines, pad the subtitle l and r */
  .ad-box {
    height: 240px !important;
  }
  .ad-box h3 {
    font-size: 26px;
  }

  .ad-box-text {
    margin: 0;
  }

  .ad-box-subtitle {
    padding: 0px 5px;
    height: 30px;
  }

  .ad-container {
    height: 270px;
  }

  #mid-size-media-height-adjustment {
    height: 240px !important;
  }

  /* // space out the promo boxes, fill up negative space */
  .pretend-img {
    margin-bottom: 8px;
  }

  .promo-box {
    width: 22%;
  }

  .promo-box h3 {
    height: 90px;
  }

  #promo-boxes-container {
    /* width: 90%; */
    padding: 0 20px;
  }

  /* // for 'compatibility counts', replace text with smaller text. literally substitute something else. */
  #comp-text {
    display: none;
  }

  #comp-med-alt {
    display: block;
  }

  /* // 'we're here for you' content can take wider width; */
  #whfy-width-control {
    width: 90% !important;
  }

  /* // quick links might be more centerable.  webLogo, quickLinks, pages, all need height. */
  .f-box h3 {
    /* height: 46px; */
    width: 130px;
    letter-spacing: 1px !important;
    /* border: 3px solid salmon !important; */
  }

  #f-top {
    padding: 0px 10px;
  }

  #petit-text {
    width: auto;
    display: none;
  }

  #petit-text-sml {
    display: block;
  }

  /* //Push Copyright to left. */
  #footer-bottom {
    width: 100% !important;
  }
}

@media only screen and (max-width: 700px) {
  /* // to 500 px */
  /* // cover image is being compressed poorly... what to do? must still be aesthetically pleasing... */
  .big-container-00 {
    height: 450px !important;
  }

  #hr-special {
    margin: 8px;
  }

  #margin-adjust-sml {
    margin: 8px 0 !important;
  }

  .sign-up-screen {
    height: 450px !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  #start-today-now-text {
    font-size: 32px;
  }

  /* // switch "ideal family size is" to "My ideal future involves parenting ____ children" + "n" in the picker */
  .child-select-div {
    width: 58px;
    height: 40px;
  }

  #header-copy-sml {
    display: block;
  }

  #ideal-fam-size {
    display: none;
  }

  .sml-screen-copy-adjust {
    display: none;
  }

  #sml-screen-margin-adjust {
    margin: 0 !important;
    /* padding: 0 calc(calc(700px - 100vw / 200) * 20px); */
    /* // todo: adjust padding w calc. scale 20px down to 0 */
  }

  /* // ad boxes are a mess at 500px. fix. */
  .img-placeholder {
    height: 60px;
    width: 60px;
  }

  .ad-box h3 {
    font-size: 20px;
  }

  .ad-box-subtitle {
    padding: 0 18px;
  }

  /* // promo boxes are a mess, fix. make icons smaller, reduce text size, justify text, margin the divs, invis the subs */
  .pretend-img {
    height: 60px;
    width: 60px !important;
  }

  .promo-box h3 {
    height: 130px;
  }

  .promo-box {
    margin-top: 20px;
  }

  /* // mk compatibility counts into smaller text, scale the photo */
  #compatibility-right {
    background-size: 100% 50%;
    background-repeat: no-repeat;
    /* background-position-y: 50%; */
  }

  #compatibility-promo {
    height: 530px;
  }

  /* // quality singles headline: reduce size. content: reduce size. photo: resize. section: shrink */
  #quality-singles-left-img {
    background-size: 100% 80%;
  }

  #quality-singles-sml-screen-height-adjust {
    height: 500px !important;
  }

  #sml-screen-copy-adjust2 {
    width: 120%;
    font-size: 30px;
  }

  #sml-screen-copy-adjust3 {
    font-size: 16px;
    line-height: 22px;
  }

  /* // the real deal: resize image */
  #real-deal-left-img {
    background-size: 100% 70%;
    background-position-y: 50%;
    background-repeat: no-repeat;
  }

  /* //footer: shrink newsletter signup. space cards evenly. respace terms of use etc. */
  #footer-bottom {
    width: 100% !important;
    margin-top: 15px;
  }

  .f-box h3 {
    height: 40px;
    width: 50px;
  }

  #f-copyright-sml {
    width: 110px;
    /* margin-left: 30px; */
  }

  #f-hr {
    margin: 0;
  }

  #f-newsletter input {
    width: 140px;
  }

  #f-top {
    width: 86%;
    padding: 0;
    justify-content: space-between !important;
  }

  #terms {
    width: 210px !important;
    /* margin-right: 30px; */
  }

  #terms div {
    margin: 0;
    width: 100px !important;
  }
}

/* TODO: sub 500, check how it looks on a phone */
/* TODO: sub 500, check how it looks on a phone */
@media only screen and (max-width: 400px) {
  .child-select-div {
    width: 70px !important;
  }
}

@media only screen and (max-width: 500px) {
  /* // oof */
  /* header; fine */
  .App-header {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .header-main-spacing {
    margin: 0 !important;
  }
  /* start today now */
  #s500-stn-adjust {
    display: none;
  }

  #s500-stn-adjust-right {
    width: 100%;
  }

  .child-select-div {
    /* // scale from 100 to 58px */
    /* width: calc(calc(calc(calc(100% - 320px) / 180) * 42px) + 58px) !important; */
    /* width: calc(100% - calc(320px + 158px)); */
    width: 85px;
  }

  .sign-up-screen {
    background-image: linear-gradient(
        to right,
        rgba(119, 122, 133, 0.596),
        rgba(22, 58, 179, 0.89)
      ),
      url("./assets/realFamPhotos/sunny-lake-adventure2-flipped.jpg");
  }

  #start-today-now-button {
    width: 90% !important;
  }

  /* ad boxes */
  .ad-box {
    width: 33%;
  }
  .ad-box-subtitle {
    display: none;
  }

  .ad-box-text {
    font-size: 16px !important;
    width: 80% !important;
    /* padding: 0 10px 0 10px; */
  }

  #ad-box-50-adjust {
    width: 50% !important;
  }

  /* TODO: return and check this . do it later as lower stuff might be best order of operations */
  /* welcome to 2fh */
  #a500px-screen-adjust {
    width: auto;
    height: 400px !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
  }
  #welcome-div-container {
    text-align: center !important;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #welcome-div-content {
    /* display: none; */
    font-size: 14px;
    width: 80%;
    margin: 0 !important;
    /* fixme: TEMP. fixme */
  }

  #welcome-div-headline {
    font-size: 34px;
  }

  /* TODO: return here after fixing the x-scrolll bar */

  /* promo boxes */
  .a500-display-none {
    display: none;
  }

  .promo-box {
    margin-top: 0;
    width: 40%;
  }

  .promo-box h3 {
    height: 90px;
  }

  /* // compatibility counts section  */
  #a500px-cc-text-adjust {
    font-size: 30px;
  }
  #compatibility-left {
    width: 280px !important;
    padding: 0 !important;
    text-align: center;
  }

  #compatibility-right {
    display: none;
  }

  /* quality singles section  */
  #a500px-width-override {
    width: 100% !important;
  }

  #a500px-centering {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #quality-singles-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #q-s-l-i-container {
    display: none !important;
  }

  #sml-screen-copy-adjust2 {
    width: 100% !important;
    text-align: center;
  }

  #sml-screen-copy-adjust3 {
    text-align: center;
  }

  #we-here-for-you * {
    margin: 5px 0 !important;
  }

  #whfy-width-control {
    font-size: 16px;
  }

  /* the real deal  */
  #real-deal-left {
    display: none !important;
  }

  #real-deal-right {
    width: 100% !important;
    text-align: center;
    align-items: center;
  }

  /* // footer */
  .a500px-f-hider {
    display: none;
  }

  #footer-bottom {
    width: 90% !important;
  }

  #footer-bottom * {
    font-size: 12px !important;
  }

  #f-hr {
    width: 80% !important;
  }

  #f-pages {
    width: 90px !important;
  }

  #f-top {
    margin: 0 30px;
    padding: 0 10px;
  }

  #a500px-sry-icons8 {
    display: none;
  }

  #socials-div button {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #terms {
    width: 160px !important;
  }

  #terms div {
    width: 80px !important;
  }
}
