input {
  margin: 0 10px;
  border: 3px solid red;
}

.ad-box {
  margin: 0 1px;
  height: 260px;
  /* background-color: rgb(142, 155, 122); */
  /* border: 3px solid black; */
  /* width: 32%; */
  /* width: 33%; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ad-box-container {
  height: 220px;
  border: 5px solid red;
}

.ad-box-text {
  font-size: 28px;
}

.ad-box-subtitle {
  font-size: 16px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  height: 80px;
  background-color: rgb(0, 85, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

#App-header-button {
  height: 40px;
  width: 160px;
  border-radius: 5px;
  border: none;
  color: black;
  font-weight: bold;
}

.b-debug {
  border: 3px solid black !important;
}

.big-container-00 {
  height: 80vh;
}

.brand-teal {
  background-color: rgb(9, 138, 148);
}

.brand-soft-blue {
  background-color: rgb(97, 125, 198);
}

.brand-soft-blue-text {
  color: rgb(97, 125, 198);
}

.brand-dark-blue {
  background-color: rgb(26, 95, 120);
}

.brand-dark-blue-text {
  color: rgb(26, 95, 120);
}

.brand-yellow-bg {
  background-color: rgb(255, 230, 0);
}

.designer-blue-text {
  color: rgb(0, 85, 255);
}

.brand-yellow-text {
  color: rgb(255, 230, 0);
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.child-select-div {
  /* border: 2px solid yellow; */
  height: 50px;
  width: 120px;
  margin: 10px 10px 5px 10px;
  padding-left: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
  background-color: white;
  border-radius: 6px;
}

.child-select-div input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.content-text {
  font-size: 18px;
  font-weight: 400;
}

#compatibility-promo {
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#compatibility-left {
  width: 40%;
  border: 3px solid blue;
}

#compatibility-right {
  /* margin: 10px 0; */
  width: 30%;
  border: 1px solid black;
  height: 90%;
}

#f-hr {
  border: 1px solid black;
  width: 75%;
}

#f-top {
  width: 90%;
  height: 60%;
}

#f-top h3 {
  margin: 5px 0 8px 0;
  font-size: 16px;
  letter-spacing: 2px;
  color: blue;
}

#f-top p {
  margin: 3px;
  font-size: 12px;
  color: white;
}

.f-box {
  width: 15%;
}

#family-size-input {
  height: 60px;
  width: 200px;
  border-radius: 16px;
}

.option-centering {
  text-align: center;
}

.fat-text {
  font-size: 44px;
  font-weight: 600;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.generic-div-centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

header * {
  color: white;
}

#header-buttons {
  width: 45% !important;
}

.header-container {
  /* border: 5px solid green; */
  padding: 0 30px 0 30px;
  height: fit-content;
  /* border: 6px solid black; */
  width: fit-content;
  /* background-color: crimson; */
  display: flex;
  flex-direction: row;
}

.header-main-spacing {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-options {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.header-options div {
  width: 100px;
  border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-options div h3 {
  margin: 0;
  font-size: 18px;
  text-transform: uppercase;
}

#hr-special {
  width: 100%;
  border: 1px solid white;
}

.img-placeholder {
  height: 80px;
  width: 80px;
  border: 3px solid salmon;
}

.pretend-img {
  height: 80px;
  width: 80px;
  border: 5px solid yellow;
}

.promo-box {
  width: 18%;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid red;
}

.promo-box h3 {
  font-size: 18px;
  text-transform: uppercase;
}

.promo-box p {
  font-weight: 300;
}

.promo-boxes-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 3px solid green;
  height: 100%;
}

.qss-mods {
  height: 100%;
}

#quality-singles-left-spacer {
  width: 48%;
}

#quality-singles-right {
  width: 52%;
}

#real-deal-left {
  width: 55%;
}

#real-deal-right {
  width: 45%;
  text-align: left;
}

.screen-splitter {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid green;
}

.sign-up-screen {
  width: 100%;
  background-color: blueviolet;
  height: 80vh;
  display: flex;
  flex-direction: row;
}

.sign-up-screen > div {
  border: 3px solid red;
}

.space-between {
  justify-content: space-between;
}

#start-today-now {
  border: 3px solid green;
  height: 80%;
  width: 80%;
}

#start-today-now-button {
  border-radius: 10px;
  height: 70px;
  width: 300px;
  color: black;
  font-size: 26px;
  text-transform: uppercase;
  font-weight: bold;
}

#start-today-now-text {
  color: white;
  font-size: 66px;
  margin: 0;
}

.text-align-left {
  text-align: left;
}

.typical-blue-button {
  width: 200px;
  height: 40px;
  color: white;
  background-color: rgb(0, 85, 255);
  border-radius: 5px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  box-shadow: 5px 3px 15px blue;
}

.typical-btn-sml-txt {
  font-size: 13px !important;
}

#welcome-div-container {
  height: 30%;
  width: 60%;
}

#welcome-div-headline {
  font-size: 44px;
  font-weight: 600;
}

#welcome-div-content {
  font-size: 18px;
  font-weight: 400;
}

#whfy-width-control {
  width: 45%;
  text-align: center;
}

#we-here-for-you {
  height: 80%;
  width: 80%;
  text-align: center;
}

.white-text {
  color: white;
}
