.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  height: 140px;
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
}

.generic-div-centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container {
  height: fit-content;
  border: 6px solid black;
  width: fit-content;
  background-color: crimson;
  display: flex;
  flex-direction: row;
}

.header-main-spacing {
  width: 95%;
  border: 2px solid red;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-options div {
  border: 3px solid blue;
  width: 100px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
